<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646984846130-schfuofsqrhbtv6qg2rmu2sip32mff9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646984846130-schfuofsqrhbtv6qg2rmu2sip32mff9b</string>
	<key>API_KEY</key>
	<string>AIzaSyAQenjpjVCfiAVILRrG613ynbE3hLnHGus</string>
	<key>GCM_SENDER_ID</key>
	<string>646984846130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatUseFirebase</string>
	<key>PROJECT_ID</key>
	<string>fiktur-chat-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>fiktur-chat-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646984846130:ios:e1b181d70b84881ccfe52b</string>
</dict>
</plist>